<div class="messages-container">
  @for (message of messageService.messages$ | async; track message.id) {
    <ng-container [ngTemplateOutlet]="messageTemplate" [ngTemplateOutletContext]="{ $implicit: message, id: message.id }"></ng-container>
  }
</div>

<ng-template #messageTemplate let-message>
  <div class="message">
    <fa-icon [icon]="faEnvelope" class="message-icon"></fa-icon>
    <div class="text-wrapper">
      <span class="title">{{ message.type }}</span>
      <span class="subtitle">{{ message.text }}</span>
    </div>
    <button class="close-message" id="close-message" (click)="messageService.closeMessage(message)">
      <fa-icon [icon]="faCircleXmark"></fa-icon>
    </button>
  </div>
</ng-template>

