.header {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  background: #18121E80;
  height: 90px;
  align-items: center;

  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;

    .wrapp {
      margin-top: 24px;

      .logo-wrapper {
      display: flex;
      flex-direction: column;
        width: 137px;
        height: 72px;
  
        .company-name {
          color: var(--main-bg-text-color);
          text-transform: uppercase;
          letter-spacing: 6px;
        }
      }
  
      .nav-wrapper {
        display: flex;
        height: 44px;
        width: 831px;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        margin-left: 212px;
  
        .navigation {
          display: flex;
          gap: 24px;
  
          a {
            color: var(--main-bg-text-color);
            text-decoration: none;
            cursor: pointer;

            &.active-link {
              color: rgb(21, 16, 152);
              text-decoration: underline;
            }
          }
        }
  
        .consultation-button {
          width: 157px;
          height: 44px;
          padding: 12px 24px;
          background-color: var(--main-bg-text-color);
          color: var(--primary-text-color);
          border: none;
        }

        .theme-toggle {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}



.count-wrapp{
  background: #18121E80;
  height: 66px;

  .date-count {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin-left: 1160px;
    align-items: center;
  }
  
  .change-counter {
    background-color: #f3f5f400;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}