.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  margin: 0 auto;
  width: 350px;
  color: var(--primary-text-color);
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.create-bt {
  margin: 20px 25px 30px 25px;
  width: 250px;
}

input.ng-touched.ng-invalid {
  border:solid red 2px;
}