<header class="header">
  <div class="header-wrapper">
    <div class="container">
      <div class="logo-wrapper">
        <img src="/images/company-logo.svg" alt="logo">
        <div class="company-name">{{ companyName }}</div>
      </div>
      <div class="nav-wrapper">
        <nav class="navigation">
          <a>Главная</a>
          <a>Про гида</a>
          <a>Программа тура</a>
          <a>Стоимость</a>
          <a>Блог</a>
          <a>Контакты</a>
        </nav>
        <button class="button consultation-button">Консультация</button>
      </div>
    </div>
  </div>
</header>

<section class="main-section">
  <div class="container block">
    <h1 class="slogan-text">Насладись прогулкой в горах <br> с командой единомышленников</h1>
    <div class="form-wrapper">
      <form class="form">
        <div class="input-wrapper">
          <div class="input-frame">
            <input class="input-text" type="text" placeholder="Локация для тура">
            <img src="/images/arrow-icon.svg">
          </div>
          <span>выберите из списка</span>
        </div>
        <div class="input-wrapper">
          <div class="input-frame">
            <input class="input-text" type="text" placeholder="Дата похода">
            <img src="/images/calendar-icon.svg">
          </div>
          <span>укажите диапазон</span>
        </div>
        <div class="input-wrapper">
          <div class="input-frame">
            <input class="input-text" type="text" placeholder="Участники">
            <img src="/images/arrow-icon.svg">
          </div>
          <span>минимум 4 человека</span>
        </div>
        <button class="button find-button">Найти программу</button>
      </form>
    </div>
  </div>
</section>