.card {
  width: 440px;
  background: var(--main-bg-text-color);
  border-radius: 6px;
  box-shadow: 0 8px 18px rgba(20, 20, 20, 0.06);
  padding: 28px;
  margin: 16px;
  color: var(--user-card-text-color);
  box-sizing: border-box;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.6px;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  height: 6px;
  background: #D4A373;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  opacity: 0.95;
}


.card-header {
  padding-top: 6px;
  margin-bottom: 18px;
}

.name {
  margin: 0;
  color: var(--user-card-text-color);
  font-size: 24px;
  font-weight: 700;
}

.username {
  color: #D4A373;
  margin-top: 6px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.95;
}

.section {
  padding-top: 12px;
  margin-top: 8px;
}

.section-title {
  font-weight: 800;
  font-size: 12px;
  line-height: 13.8px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--users-text-color);
}

.row {
  display: flex;
  justify-content: space-between;
}

.label {
  color: #667C7C;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
}

.email {
  color: #D4A373;
}

.website {
  color: #D4A373;
}

.coords-wrap {
  display: flex;
  gap: 5px;
}

.coords {
  background-color: #f4f7f7;
}

.button {
  margin-left: 50px;
  margin-top: 20px;
}